<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Lookup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/employee.js"></script>
  </head>

  <body>
        <script>
            // Note that there are two types of placeholders here vue and handlebars. vue placeholders
            // need to be escaped so handlebars ignores them
            Vue.config.ignoredElements = [ 'container' ]; // ignore vue warning on unknown component

            var serviceURL = "{{serviceURL}}"; 
            $(document).ready(function(){
                
                $('#employee-id-input').focus();
                $('body').keyup(function(event) {
                    if (event.keyCode === 13) {
                        $("#do-lookup").click();
                    }
                });

                if("{{employee_id}}" != "") {
                    get_employee({{employee_id}})
                }
            });

      </script>

  <section class="section">
    <div class="container">
        
        <h1 class="title">
            Look up employee
        </h1>

        <div class="field has-addons">
            <div class="control">
                <input data-cy="employee_id" class="input" type="text" name="employee-id" id="employee-id-input" placeholder="Employee id">
            </div>
            <div class="control">
                <a data-cy="do_lookup" class="button is-info" id="do-lookup">
                Search
                </a>
            </div>
        </div>
    </div>
  </section>

  <div id="app" v-cloak>
      <div id="lookup-message" class="notification is-danger" v-if="message">
        \{{ message }}
    </div>
    
    <section class="hero is-info" v-if="employee_id">
        <div class="hero-body">
            <div class="container">
            <h1 class="title" id="employee-name" data-cy="employee_name">
                \{{first}} \{{last}}
            </h1>
            <h2>User <span data-cy="effective_employee_id" class="has-text-weight-bold">\{{employee_id}}</span></h2>
            <h2 class="subtitle">
                <img v-bind:src=pic />
            </h2>
            </div>
        </div>
    </section>

    <section>
        <container>
            <div v-if="request_in_progress" class="columns is-mobile is-centered is-large">
                <div v-if="request_in_progress" class="loader is-info is-large" style="height:5em; width:5em; border-width: 1em;"></div>
            </div>
        </container>
    </section>

  </div>

  </body>

    

  
</html>





