<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Lookup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/base.js"></script>
  </head>

  <body>
      <script>
            var serviceURL = "{{serviceURL}}"; 
            $(document).ready(function(){
                
            });
      </script>

  <section class="section">
    <div class="container">
        
        <div class="field has-addons">
            <div class="control">
                <input data-cy="item_id" class="input" type="text" name="item-id" id="item-id-input" placeholder="id">
            </div>
            <div class="control">
                <a data-cy="do_search" class="button is-info" id="do-search">
                Search
                </a>
            </div>
        </div>
    </div>
  </section>

  <div id="app" v-cloak>
      <div id="lookup-message" class="notification is-danger" v-if="message">
        \{{ message }}
    </div>

    <section>
        <container>
            <div class="columns is-mobile is-centered is-large">
                <div v-if="request_in_progress" class="loader is-info is-large" style="height:5em; width:5em; border-width: 1em;"></div>
            </div>
        </container>
    </section>
    
    <section class="hero is-info" v-if="item_id">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle">
                    <img v-bind:src=pic />
                </h2>
            </div>
        </div>
    </section>
  </div>

  </body>

</html>





