[v-cloak] {
    display: none;
}

.loader {
    -webkit-animation: spinAround 500ms infinite linear;
            animation: spinAround 500ms infinite linear;
    border: 1em solid #3273dc;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 5em;
    position: relative;
    width: 5em;
 }
